<h1>Editing Bow String</h1>

<%= render 'form', bow_string: @bow_string %>

<%= link_to 'Show', @bow_string, class: "btn btn-primary" %>
<%= link_to 'Back', bow_strings_path, class: "btn btn-secondary" %>
